# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Coverage directory used by tools like istanbul
coverage/

# Temporary files
tmp/
temp/